---
title: "@phadej gists"
---

<h2>About me</h2>

<p>
Hi, I'm a programmer from Helsinki, Finland.
You might know me as <em>phadej</em>.
I work as <em>Haskell Consultant</em> at <a href="https://well-typed.com">Well-Typed</a>.
Previously various software development at <a href="http://futurice.com/">Futurice</a>,
and building <a href="http://irc-galleria.net/feedback">IRC-Galleria</a> before that.
I also cycle through the year.
And I used to spin the records, I still have the same music taste, I had ten years ago.
</p>

<h2>Gists</h2>

$partial("templates/post-list.html")$

<!-- <p>…or you can find more in the <a href="/archive.html">archives</a>.</p> -->

<h2>Writings elsewhere</h2>
<ul>
    <li><em>2016-10-28</em> &ndash; <a href="http://futurice.com/blog/more-gadts-in-purescript">More GADTs in PureScript</a></li>
    <li><em>2014-12-11</em> &ndash; <a href="http://futurice.com/blog/an-example-of-functional-design">An example of functional design</a></li>
    <li><em>2014-09-18</em> &ndash; <a href="https://medium.com/@phadej/structurally-recursive-nubby-782f26c6eadd">Structurally recursive nubBy</a></li>
    <li><em>2014-09-18</em> &ndash; <a href="http://futurice.com/blog/npm-registry-in-numbers">NPM registry in numbers</a></li>
    <li><em>2014-03-19</em> &ndash; <a href="http://primitive-automaton.logdown.com/posts/189643/asyncjs-and-promises">async.js and promises</a></li>
    <li><em>2013-11-13</em> &ndash; <a href="http://futurice.com/blog/tech-pick-of-the-week-jsstana">Futurice Tech Pick of the week: jsstana</a></li>
    <li><em>2013-09-30</em> &ndash; <a href="http://primitive-automaton.logdown.com/posts/142511/tdd-with-quickcheck">TDD with QuickCheck</a></li>
    <li><em>2013-08-05</em> &ndash; <a href="http://primitive-automaton.logdown.com/posts/67427/static-vs-dynamic">Static vs. Dynamic</a></li>
</ul>

<h2>JavaScript Projects</h2>

<ul>
    <li><a href="https://jsverify.github.io/">JSVerify</a> &ndash; property-based testing for JavaScript</li>
    <li><a href="https://oleg.fi/jsstana/">jsstana</a> &ndash; s-expression match patterns for Mozilla Parser AST, contains jsgrep tool</li>
    <li><a href="https://oleg.fi/relaxed-json/">relaxed-json</a> &ndash; non-strict, human writeable json</li>
    <li><a href="https://github.com/phadej/typify">typify</a> &ndash; runtime type-checking for JavaScript</li>
    <li>&hellip; and more on <a href="https://github.com/phadej">github</a></li>
</ul>

<h2>Haskell Projects</h2>
<ul>
    <li><a href="https://github.com/phadej/aeson-compat">aeson-compat</a> &ndash; compatibility shim for aeson</li>
    <li><a href="https://github.com/phadej/binary-orphans">binary-orphans</a> &ndash; missing Binary instances</li>
    <li>&hellip; and many more: <a href="http://hackage.haskell.org/user/phadej">Hackage profile</a></li>
</ul>
